<% if params[:controller] == 'about' %>
    <div class="well">
        <h3>Location:</h3>
        <ul>
            <h4>Best Books</h4>
            <li>57 South Street</li>
            <li>Jamaica Plain, MA 02130</li>
            <li>See map: <a href="https://www.google.com/maps/place/57+South+St,+Boston,+MA+02130/@42.3078523,-71.1179843,17z/data=!3m1!4b1!4m2!3m1!1s0x89e3796bd1c0856b:0xffb2c0dd7b25b4e6">Google Maps</a></li>
            <li>617.971.9345</li>
        </ul>
    </div>
 <% end %>
 <% if params[:controller] == 'books' && params[:action] == 'index' || params[:action] == 'show' %>
 <div class="list-group">
 <% @categories.each do |category| %>
 <%= link_to category.name, category_path(category.id), class:'list-group-item' %>
 <% end %>
</div>
<% end %>


   


