<div id="books-show">
<h2>Superman</h2>
<div class="books-show-left">
<%= image_tag('stock_photos/superman_thumbnail.jpg') %>
</div>
<div class="books-show-right">
<h3>Book Info:</h3>
<ul>
	<li><strong>Category: </strong>Superman</li>
	<li><strong>Author: </strong></li>
	<li><strong>Publisher:</strong></li>
	<li><strong>Year:</strong></li>
	<li><strong>ISBN:</strong></li>
	<li><strong>Format:</strong></li>
	<li><strong>Changes:</strong></li>
</ul>

 <%= link_to "Buy for .99", 'http://hills.ccsf.edu/~dbess1/cnit/index.html#home', class:'btn btn-success', target:'_blank' %>
</div>
<div class="clearfix"></div>
<h4>Excerpt</h4> 
<p><em>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas voluptates id repudiandae, iusto incidunt modi temporibus eaque sequi vero sapiente aliquid voluptatum ipsa facilis, tenetur unde. Dolorum delectus laboriosam maiores.</em></p>
</div>
