<h1><%= @page_title %></h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit quam, accusantium eos saepe sunt, porro maiores non inventore nihil quos officia rerum obcaecati deserunt voluptas ullam labore blanditiis tempora consectetur?</p>

