<h1><%= @page_title %></h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit quam, accusantium eos saepe sunt, porro maiores non inventore nihil quos officia rerum obcaecati deserunt voluptas ullam labore blanditiis tempora consectetur?</p>

<div class="well">
<h3>Location:</h3>
<ul>
<h4>Best Books</h4>
<li>57 South Street</li>
<li>Jamaica Plain, MA 02130</li>
<li>See map: <a href ="https://www.google.com/maps/place/57+South+St,+Boston,+MA+02130/@42.3078523,-71.1179843,17z/data=!3m1!4b1!4m2!3m1!1s0x89e3796bd1c0856b:0xffb2c0dd7b25b4e6">Google Maps</a></li>
<li>617.971.9345</li>
</ul>
</div>